* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

 .topbar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5rem;
    background-color: aqua;
    flex-wrap: nowrap;
}


.property-list {

    // centers element
    width: 95%;
    margin-inline: auto;

    // flex-child 
    flex-grow: 1;
    flex-shrink: 0;
    
    // flex-dad
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;

    list-style: none;

    // last placeholders
    &> *.placeholder {
        height: 0px;
        visibility: hidden;
    }
}

.property {
    
    height: 25rem;

    // flex-child
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 15rem;

    // self properties
    background-color: rgba(black, 0.1);
    border-radius: 1rem;
    padding: 1rem;

    &__img {
        background-color: grey;
    }

    &__location {
        background-color: red;
    }

    &__date {
        background-color: blue;

    }
    &__price {
        background-color: purple;
    }
}